@charset "UTF-8";
@import url("style_reset.css");

/* div#headerFrame */

div#headerFrame{
    border-top: 2px solid #284a7e;
}

#headerFrame header#header{
    width: 1220px;
    height: 126px;
    margin: 0 auto;

    align-items: flex-end;
    /*border: 1px solid #aaa;*/
    /*padding-bottom: 30px;*/
}

#headerFrame #headerlogo a{
    /*border: 1px solid #000;*/
    width: 183px;
    height: 40px;
    margin-bottom: 17px;
    display: inline-block;
    background-image: url(../images/logo.gif);

    color: #888;
}

div#headerMenuArea{
    /*border: 1px solid #08f;*/
    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}

#headerFrame #nav{
    height: 50px;

    justify-content: flex-end;
    align-items: flex-end;
    /*border: 1px solid #880;*/
}

#headerFrame nav#headerLnb{
    text-align: right;
    padding-bottom: 30px;
    /*border: 1px solid #000;*/
}

#headerFrame nav#headerLnb span{
    /*border: 1px solid #f88;*/
    color: #284a7e;
    font-size: 15px;
    margin: 0 6px;
}

#headerFrame nav#headerLnb span:not(:nth-child(2)){
    cursor: pointer;
}

/* nav#gnb */

#headerFrame nav#gnb{
    padding-left: 40px;
    /*border: 1px solid #000;*/
}

#headerFrame nav#gnb ul#mainMenu{
    align-items: flex-end;
    height: 100%;
    /*border: 1px solid #f00;*/

    position: relative;
}

#headerFrame nav#gnb ul#mainMenu>li{
    padding: 20px 0;
}

#headerFrame nav#gnb ul#mainMenu>li:first-child,
#headerFrame nav#gnb ul#mainMenu>li:first-child>ul{
    width: 190px;
}

#headerFrame nav#gnb ul#mainMenu>li:nth-child(2),
#headerFrame nav#gnb ul#mainMenu>li:nth-child(2)>ul{
    width: 208px;
}

#headerFrame nav#gnb ul#mainMenu>li:nth-child(3),
#headerFrame nav#gnb ul#mainMenu>li:nth-child(3)>ul{
    width: 190px;
}

#headerFrame nav#gnb ul#mainMenu>li:nth-child(4),
#headerFrame nav#gnb ul#mainMenu>li:nth-child(4)>ul{
    width: 180px;
}

#headerFrame nav#gnb ul#mainMenu>li:nth-child(5),
#headerFrame nav#gnb ul#mainMenu>li:nth-child(5)>ul{
    width: 220px;
}

#headerFrame nav#gnb ul.subMenu{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;

    background-color: #fff;
    position: absolute;
    top: 69px;
    z-index: 10;
}


#headerFrame nav#gnb ul.subMenu img{
    position: relative;
    left: -20px;
}


#headerFrame nav#gnb li.mainLi>a{
    width: 100%;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    /*border: 1px solid #000;*/
}

#headerFrame nav#gnb li.subLi>a{
    line-height: 42px;
    font-size: 14px;
    padding: 0 10px;

    /*border: 1px solid #000;*/
}

#headerFrame nav#gnb li.subLi:hover{
    background-color: #f56254;
}

#headerFrame nav#gnb li.subLi:hover>a{
    color: #fff;
}

/* nav#gnb */

/* div#headerFrame */

/* div#gnbBG */

#headerFrame div#gnbBGFrame{
    width: 100%;
    height: 255px;

    border: 1px solid #ddd;

    background-color: #fff;
    position: absolute;
    display: none;
}

#headerFrame #gnbBG{
    width: 100%;
    height: 192px;
}

/* div#gnbBG */

/* div#searchArea */

div#searchArea{
    width: 100%;
    height: 712px;
    background: url(../images/visua_a.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    padding-top: 70px;
}

div#searchArea h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: normal;

    width: 600px;
    margin: 50px auto;
}

div#searchArea div#searchBG{
    width: 770px;
    padding: 15px 26px 28px;
    margin: 0 auto;
    border-radius: 50px;

    /*border: 1px solid #f80;*/

    background-color: #fff;
}

div#searchArea div#searchBG span{
    width: 36px;
    height: 36px;
    cursor: pointer;

    /*border: 1px solid #000;*/
    display: inline-block;
}

div#searchArea div#searchBG span#closeMark{
    text-align: center;
    font-size: 44px;
    line-height: 44px;
    color: #666;

    transform: translateY(7px);
    visibility: hidden; /*공간을 남겨둔채로 사라짐*/
    /*display: none; 공간도 사라짐*/
}

div#searchArea div#searchBG span#searchMark{
    margin-right: 10px;
    transform: translateY(9px);

    background-position: right;
    background-image: url(../images/btn_search.gif);
    background-repeat: no-repeat;
}

div#searchArea div#searchBG>input{
    color: #666;
    font-size: 18px;
    padding: 8px 2px;
    width: 620px;
    border: none;
}

div#searchArea div#searchBG>input::placeholder{
    color: #aaa;
    padding: 8px 2px;
} /* :: <- 슈도엘리먼트속성*/

/* div#searchArea */

/* div#mainIconLNB_Frame */

div#mainIconLNB_Frame{
    background-color: rgba(43, 52, 76, 0.85);
    width: 100%;
    height: 270px;

    padding-top: 30px;
    position: absolute;
    transform: translateY(-91%);
}

div#mainIconLNB_Frame>nav{
    padding: 10px;
    justify-content: center;
    /*border: 2px solid #f80;*/
}

#mainIconLNB_Frame div.mainIconBox{
    text-align: center;
    margin: 10px 50px;
    cursor: pointer;
    /*border: 1px solid #f80;*/
}

div#mainIconLNB_Frame div.mainIcon {
    margin-bottom: 20px;
}

#mainIconLNB_Frame span{
    color: #fff;
    font-size: 23px;
}

/* div#mainIconLNB_Frame */

/* div#jusoIntro_Frame */

div#jusoIntro_Frame{
    width: 100%;
    background-color: #f2f2f2;
}

div#jusoIntro{
    width: 400px;
    height: 200px;
    border: 1px solid #f88;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -11%);
}



/* div#jusoIntro_Frame */

